@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar-track {
    border: 0;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d3d6;
    border-radius: 100px;
  }
}
